@font-face {
    font-family: 'Orchidea Pro';
    src:
            local('Orchidea Pro Medium'),
            local('OrchideaPro-Medium'),
            url('../fonts/Orchideapromedium.woff2') format('woff2'),
            url('../fonts/Orchideapromedium.woff') format('woff'),
            url('../fonts/Orchideapromedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Orchidea Pro';
    src:
            local('Orchidea Pro Medium Italic'),
            local('OrchideaPro-MediumItalic'),
            url('../fonts/Orchideapromediumitalic.woff2') format('woff2'),
            url('../fonts/Orchideapromediumitalic.woff') format('woff'),
            url('../fonts/Orchideapromediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope';
    src:
            url('../fonts/Manrope-Medium.woff2') format('woff2'),
            url('../fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src:
            url('../fonts/Manrope-Bold.woff2') format('woff2'),
            url('../fonts/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
            local('Roboto'),
            local('Roboto-Regular'),
            url('../fonts/Roboto.woff2') format('woff2'),
            url('../fonts/Roboto.woff') format('woff'),
            url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}