.catalog {
    &__tabs {
        margin: 30px 0 50px;
        padding: 0;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.07em;
        list-style-type: none;
        display: flex;
        align-items: baseline;
        gap: 23px;
        height: 25px;
    }
    &__tab {
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s all;
        &_active {
            border-bottom: solid var(--black-color) ;
        }
    }
    &__content {
        display: none;
        &_active {
            display: block;
        }
    }
    &__title {
        margin-bottom: 30px;
        font-family: 'Orchidea Pro', sans-serif;
        font-weight: 500;
        font-size: 36px;
        text-transform: uppercase;
        i {
            text-transform: lowercase;
            font-style: italic;
        }
    }
    &-item {
        &:last-child {
            padding-bottom: 20px;
        }
        &__subtitle {
            font-family: 'Orchidea Pro', sans-serif;
            font-weight: 500;
            font-size: 24px;
        }
        &__text {
            margin-top: 20px;
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
        }
    }

    .image-wrapper {
        max-width: 600px;
        margin: 60px auto;
    }

    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 60px -50vw 60px -58vw;
        display: grid;
        justify-content: space-between;
        img {
            background: var(--bg-color);
            box-shadow: var(--box-shadow);
            width: 180%;
            height: 370px;
            object-fit: cover;
        }
    }
}