.header {
    background: var(--header-color);
    &__inner {
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            vertical-align: middle;
        }
    }
}

.menu {
    &__call {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;

        }
    }
}

@media (min-width: 640px ) {
    .header__inner {
        min-height: 100px;
    }
}