<header class="header">
    <div class="container-a">
        <div class="header__inner">
            <div class="logo">
                <a class="logo__link" href="#">
                    <img src="media/icons/logo.svg" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="menu__call-number">+7 (495) 495-49-54</div>
                <div class="menu__call">

                        <img class="menu__call-img" src="media/icons/phone.svg" alt="phone">
                </div>
            </nav>
        </div>
    </div>
</header>