<section class="catalog">
    <div class="container-a">
        <div id="tabs">
            <ul class="catalog__tabs">
                <li class="catalog__tab "><div>LOREM</div></li>
                <li class="catalog__tab catalog__tab_active"><div>IPSUM</div></li>
            </ul>

            <div class="catalog__content">
                <div class="catalog__title">
                    Lorem ipsum dolor  <i> sit </i> amet
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    <div class="catalog-item__text">
                        Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <br> <br>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum/ Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </div>

                    <div class="image-wrapper">
                        <figure class="full-width">
                            <img src="media/images/julia.png" alt="julia">
                        </figure>
                    </div>

                </div>
                <div class="catalog-item">
                    <div class="catalog-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    <div class="catalog-item__text">
                        Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <br><br>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </div>
                    <div class="image-wrapper">
                        <figure class="full-width">
                            <img src="media/images/taisiia.png" alt="taisiia">
                        </figure>
                    </div>

                </div>
            </div>

            <div class="catalog__content catalog__content_active">
                <div class="catalog__title">
                    Lorem ipsum dolor  <i> sit </i> amet
                </div>


                <div class="owl-carousel carousel-1 popup-gallery">
                        <div class="owl-slide">
                            <a href="media/images/angelica.png"><img src="media/images/angelica.png" alt="angelica"></a>
                        </div>
                        <div class="owl-slide">
                            <a href="media/images/cat.png"><img src="media/images/cat.png" alt="cat"></a>
                        </div>
                        <div class="owl-slide">
                            <a href="media/images/joeyy.png"><img src="media/images/joeyy.png" alt="joeyy"></a>
                        </div>
                        <div class="owl-slide">
                            <a href="media/images/andres.png"><img src="media/images/andres.png" alt="andres"></a>
                        </div>
                        <div class="owl-slide">
                            <a href="media/images/jasmin.png"><img src="media/images/jasmin.png" alt="jasmin"></a>
                        </div>
                </div>





            </div>


        </div>
    </div>
</section>