<section class="catalog">
    <div class="container-a">
        <div id="tabs">
            <ul class="catalog__tabs">
                <li class="catalog__tab catalog__tab_active ">lorem</li>
                <li class="catalog__tab">ipsum</li>
            </ul>

            <div class="catalog__content catalog__content_active">
                <div class="catalog__title">
                    Lorem ipsum dolor  <i> sit </i> amet
                </div>
                    <div class="catalog-item">
                        <div class="catalog-item__text-wrapper">
                            <div class="catalog-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            <div class="catalog-item__text">
                                Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                <br> <br>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum/ Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <figure class="full-width">
                                <img src="media/images/julia.png" alt="julia">
                            </figure>
                        </div>
                    </div>

                    <div class="catalog-item">
                        <div>
                            <div class="catalog-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            <div class="catalog-item__text">
                                Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                <br><br>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </div>
                        </div>
                        <div class="image-wrapper last-item">
                            <figure class="full-width">
                                <img src="media/images/taisiia.png" alt="taisiia">
                            </figure>
                        </div>
                    </div>
            </div>

            <div class="catalog__content">
                <div class="catalog__title">Lorem ipsum dolor  <i> sit </i> amet</div>
                <div class="owl-carousel popup-gallery">
                    <div class="owl-slide">
                        <a href="media/images/angelica.png">
                            <img class="carousel-img" src="media/images/angelica.png" alt="angelica">
                        </a>
                    </div>
                    <div class="owl-slide">
                        <a href="media/images/cat.png" title="Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum">
                            <img src="media/images/cat.png" alt="cat">
                            <div class="img-text bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                        </a>
                    </div>
                    <div class="owl-slide">
                        <a href="media/images/joeyy.png"><img src="media/images/joeyy.png" alt="joeyy"></a>
                    </div>
                    <div class="owl-slide">
                        <a href="media/images/jasmin.png"><img src="media/images/jasmin.png" alt="jasmin"></a>
                    </div>
                    <div class="owl-slide">
                        <a href="media/images/andres.png" title="Lorem ipsum dolor sit amet">
                            <img src="media/images/andres.png" alt="andres">
                            <div class="img-text right">Lorem ipsum dolor sit amet</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>